{{define "content"}}

<div class="container">

  <section class="section mb-3">
    <h1 class="title">Sign in</h1>
    <h1 class="subtitle">Sign up <a href="/register">here</a></h1>
  </section>

  <form action="/login/auth" method="POST">
    <div class="field mb-3">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" name="email" placeholder="Type your username" aria-label="Login"
          autocomplete="username" required>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field mb-3">
      <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="password" name="password" placeholder="Type your password" aria-label="Password"
          autocomplete="current-password" required>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </div>

    <fieldset class="mb-3">
      <label for="remember">
        <input class="checkbox" type="checkbox" role="switch" id="remember" name="remember">
        Remember me
      </label>
    </fieldset>

    <div class="field m-3 has-text-right">
      <div class="control">
        <button class="button is-link mb-3" type="submit" class="contrast">Login</button>
      </div>
    </div>

  </form>

  <div class="container has-text-centered mb-5">
    <h1 class="subtitle mb-5">Login with: </h1>
    <button class="button is-rounded" type="submit" class="contrast"><a href="/auth/google"><i
          class="fab fa-google"></i></a></button>
    <button class="button is-rounded" type="submit" class="contrast"><a href="/auth/google"><i
          class="fab fa-github"></i></a></button>
  </div>

</div>

{{end}}