<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Notes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <header class="container">
        <nav>
            <ul>
                <li><strong><a href="/notes">Notes</a></strong></li>
            </ul>
            <ul>
                <li><a href="/notes/new">Create</a></li>
                <li><a href="/notes">All notes</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <hgroup>
            <h3>Notes</h3>
            <p>The simple space for notes. Write <a href="/notes/new"> new note</a></p>
        </hgroup>
        <div>
            <h6>Found <ins>{{.NoteCount}}</ins> notes:</h6>
        </div>
        <div>
            <ul>
                {{range .Notes}}
                <blockquote>
                    {{.}} 
                    <footer>
                        <cite>- Gosha</cite>
                    </footer>
                </blockquote>

                {{end}}
            </ul>
        </div>
    </main>

</body>

</html>