{{define "content"}}
<section class="section">
    <h3 class="title">Notes</h3>
    <h3 class="subtitle">The simple space for notes. Just write something here not too long!</h3>
</section>

<form action="/notes/create" method="POST">
    <div class="field is-grouped">
        <div class="control is-expanded">
            <input class="input" type="text" id="text" name="textInput" placeholder="Text" required minlength="5"
                maxlength="120">
        </div>
        <div class="control">
            <input class="input" type="text" id="author" name="authorInput" placeholder="Name" required minlength="4"
                maxlength="20">
        </div>
        <div class="control"><input class="button is-info is-rounded" type="submit"></div>
    </div>
</form>
<div>
    <h4 class="subtitle is-3 m-2">Found <ins>{{.NoteCount}}</ins> notes:</h4>
</div>
<div class="content m-2 mt-3 mb-6">

    {{range .Notes}}
    <blockquote>
        {{.Text}}
        <footer>
            <cite>- {{.Author}}</cite>
        </footer>
    </blockquote>
    {{end}}

</div>
{{end}}