{{define "content"}}

<section class="section">
    <h3 class="title">ToDo</h3>
    <h3 class="subtitle">The simple space for tasks. Add it!</h3>
</section>

<section class="m-2" id="task">
    <h2 class="subtitle is-3 m-2">New task:</h2>
    <form action="/todo/create" method="POST">
        <div class="field is-grouped">
            <div class="control is-expanded"> <input class="input" name="taskInput" type="text" placeholder=""
                    autocomplete="off" required minlength="4" maxlength="40"></div>
            <div class="control"><input class="button is-info is-rounded" type="submit" value="Add"></div>
        </div>
    </form>
</section>
<h6 class="subtitle is-4 m-2">Tasks <ins>{{.TaskCount}}</ins>: </h6>
{{range .Tasks}}
<div class="container m-2">
    <form action="/todo/update" method="POST" class="field mb-3">
    <label class="checkbox m-1">
        <input type="hidden" name="id" value="{{.ID}}">
        <input class="checkbox" name="done" type="checkbox" {{if .Done}}disabled checked {{end}} onchange="this.form.submit()">
        {{.ID}}. {{.Text}}
    </label>
</form>
</div>
{{end}}

{{end}}