<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Todo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <header class="container">
        <nav>
            <ul>
                <li><strong><a href="/">Site</a></strong></li>
            </ul>
            <ul>
                <li><a href="/notes">Notes</a></li>
                <li><a href="/todo">ToDo</a></li>
                <li><a href="/chat">Chat</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">

        <section id="task">
            <h2>New task: </h2>
            <form action="/todo/create" method="POST">
                <fieldset role="group">
                    <input name="taskInput" type="text" placeholder="" autocomplete="off" required minlength="4"
                        maxlength="40">
                    <input type="submit" value="Add">
                </fieldset>
            </form>
        </section>
        <h6>Tasks <ins>{{.TaskCount}}</ins>: </h6>
        {{range .Tasks}}
        <form action="/todo/update" method="POST">
            <fieldset role="group">
                <input type="hidden" name="id" value="{{.ID}}">
                <input name="done" type="checkbox" {{if .Done}}disabled checked {{end}} onchange="this.form.submit()">
                <input type="text" value="{{.ID}}. {{.Text}}" {{if .Done}}aria-invalid="false" disabled{{end}}>
            </fieldset>
        </form>
        {{end}}
    </main>

</body>

</html>